{% extends "shared/base.html" %}
{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item">صفحه اصلی</li>
						<li class="breadcrumb__item breadcrumb__item--active">درباره ما</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>ولنا - پخش موسیقی و موسیقی آنلاین</h1>

						<p>{{about_us_text.text}}</p>

					</div>
				</div>
				<!-- end title -->

	</main>
	<!-- end main content -->
{% endblock %}