{% extends "shared/base.html" %}
{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item">صفحه اصلی</li>
						<li class="breadcrumb__item breadcrumb__item--active">قوانین و مقررات</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12">
					<div class="main__title">
						<h1>قوانین و مقررات</h1>
						<p>{{rules_text.text}}</p>
					</div>
				</div>
				<!-- end title -->
			</div>

		</div>
	</main>
	<!-- end main content -->
{% endblock %}