{% extends "shared/base.html" %}
{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb breadcrumb--hidden-desk">
						<li class="breadcrumb__item"><a href="index.html">صفحه اصلی</a></li>
						<li class="breadcrumb__item"><a href="news.html">اخبار</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">مقاله</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<div class="col-12 col-xl-10 offset-xl-1">
					<div class="article">
						<!-- article content -->
						<div class="article__content">
                            
                            <div class="article__meta">
                                
                                <span class="article__date"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,2A10,10,0,1,0,22,12,10.01114,10.01114,0,0,0,12,2Zm0,18a8,8,0,1,1,8-8A8.00917,8.00917,0,0,1,12,20ZM14.09814,9.63379,13,10.26807V7a1,1,0,0,0-2,0v5a1.00025,1.00025,0,0,0,1.5.86621l2.59814-1.5a1.00016,1.00016,0,1,0-1-1.73242Z"/></svg>{{article.get_time}} - {{article.get_solar_date}}</span>
							</div>
                            
							<h1>{{article.title}}</h1>
                            
							<p>{{article.content}}</p>
                            <img src="{{article.image.url}}" alt="">
						</div>
						<!-- end article content -->
						{% if user.is_authenticated %}
						<!-- comments -->
						<div class="comments">
							<div class="comments__title">
								<h4>نظرات</h4>
								<span>{{article.len_comments}}</span>
							</div>
	
							<ul class="comments__list">
								{% for comment in comments_list %}
								<li class="comments__item">
									<div class="comments__autor">
										<img class="comments__avatar" src="/static/img/avatar.svg" alt="">
										<span class="comments__name">{{comment.related_profile.full_name}}</span>
										<span class="comments__time">{{comment.get_time}} , {{comment.get_solar_date}}</span>
									</div>
									<p class="comments__text">{{comment.content}}</p>
									<div class="comments__actions">
										<div class="comments__rate">
	
										</div>
									</div>
								</li>
								{% endfor %}
							</ul>
	
							<form method = "post" action="{% url 'comments:adding_comment' slug=article.slug %}" class="comments__form">
							{% csrf_token %}
								<div class="sign__group">
									<textarea id="text" name="comment" class="sign__textarea" placeholder="نظر شما . . ."></textarea>
								</div>
								<button type="submit" class="sign__btn">ارسال</button>
							</form>
						</div>
						<!-- end comments -->
						 {% else %}
						 <!-- error -->
				<div class="col-12">
					<div class="page-404">
						<div class="page-404__wrap">
							<div class="page-404__content">
								
								<p class="page-404__text">برای دسترسی به بخش نظرات باید به حساب کاربری خود وارد شوید</p>
								<a href="{% url 'account:sign_in_page' %}" class="page-404__btn">ورود به حساب کاربری</a>
							</div>
						</div>
					</div>
				</div>
				<!-- end error -->
				 {% endif %}
					</div>
				</div>
			</div>
		</div>
	</main>
	<!-- end main content -->
{% endblock %}