{% extends "shared/base.html" %}
{% block content %}
{% if no_list %}
<main class="main">
    <div class="container-fluid">
        <div class="main__title main__title--page">
            <h4  style = "color: #c0c0c0; padding-left: 500px; padding-right: 500px; margin-top: 80px ;margin-bottom: 80px;">هیچ آهنگی در لیست علاقه‌مندی شما وجود ندارد</h4>
        </div>           
    </div>
        </main>
	<!-- main content -->
     {% else %}
	<main class="main">
		<div class="container-fluid">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item">صفحه اصلی</li>
						<li class="breadcrumb__item breadcrumb__item--active">لیست علاقه‌مندی ها</li>
					</ul>
				</div>
				<!-- end breadcrumb -->
				<!-- title -->
				<div class="col-12">
					<div class="main__title main__title--page">
						<h1>لیست علاقه‌مندی ها</h1>
					</div>
				</div>
				<!-- end title -->
			</div>
			<!-- releases -->
			<div class="row row--grid">
                <div class="col-12">
                    <div class="row row--grid">
                        {% for release in this_page %}
                        <div class="col-6 col-sm-4 col-lg-2">
                            <div class="album">
                                <div class="album__cover">
                                    <img src="{{release.cover_art.url}}" alt="">
									<a href="{% url 'releases:single_release_page' slug=release.slug %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg></a>
									<span class="album__stat">
                                        <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20,13.18V11A8,8,0,0,0,4,11v2.18A3,3,0,0,0,2,16v2a3,3,0,0,0,3,3H8a1,1,0,0,0,1-1V14a1,1,0,0,0-1-1H6V11a6,6,0,0,1,12,0v2H16a1,1,0,0,0-1,1v6a1,1,0,0,0,1,1h3a3,3,0,0,0,3-3V16A3,3,0,0,0,20,13.18ZM7,15v4H5a1,1,0,0,1-1-1V16a1,1,0,0,1,1-1Zm13,3a1,1,0,0,1-1,1H17V15h2a1,1,0,0,1,1,1Z"/></svg> {{release.views}}</span>
									</span>
                                </div>
                                <div class="album__title">
                                    <h3><a href="{% url 'releases:single_release_page' slug=release.slug %}">{{release.title}}</a></h3>
									{% if release.artist %}
									<span><a href="{% url 'artists:single_artist_page' slug=release.artist.slug %}">{{release.full_artists_name }}</a></span>
									{% else %}
									<span><a href="#">هنرمند نامشخص</a></span>
									{% endif %}
									
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
            <div class = "pages">
                {% for page in paginator %}
                <a href = "/favorites/?page={{page}}" {% if page == this_page.number %} class = "active_page" {% else %} class = "unactive_page" {% endif %}>{{page}}</a>
                {% endfor %}
                </div>
			<!-- end releases -->
        </div>
    </main>
    {% endif %}
{% endblock %}