{% extends "shared/base.html" %}
{% block content %}
<main class="main">
    <div class="container-fluid">
        <div dir="rtl" class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="index.html">صفحه اصلی</a></li>
                    <li class="breadcrumb__item"><a href="releases.html">منتشر شده ها</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">منتشرشده</li>
                </ul>
            </div>
            <!-- end breadcrumb -->

            <!-- title -->
            <div class="col-12">
                <div class="main__title main__title--page">
                    <h1>{{release.artist}} - {{release.title}}</h1>
                </div>
            </div>
            <!-- end title -->

<!-- player -->
<div class="player2">
    <div class="player__cover">
        <img src="{{release.cover_art.url}}" alt="">
    </div>

    <div class="player__content">
        <span class="player__track"><b class="player__title">{{release.title}}</b> – <span class="player__artist">{{release.artist}}</span></span>
        <audio src="{{release.audio_file.url}}" id="audio" controls></audio>
        
    </div>
</div>

<!-- end player -->
<canvas id='canvas'></canvas>  
            <div class="col-12 col-lg-8">
                
                    <!-- comments -->
                     {% if in_favorites_list %}
                     <div class="comments">
                        <div style="display: flex; margin-bottom: 70px;">
                        <a style="width: 40px; height: 40px;" href="{% url 'favorites:delete_from_favorites' slug=release.slug%}" class="single-item__add">
                            <svg style="width: 23px; height: 23px;" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
                                <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                              </svg>
                        </a>
                        <p style="color: #c0c0c0; margin-top: 5px; cursor: default; ">پاک کردن از لیست علاقه‌مندی ها</p>
                    </div>
                     {% else %}
                     <div class="comments">
                         <div style="display: flex; margin-bottom: 70px;">
                         <a style="width: 40px; height: 40px;" href="{% url 'favorites:add_to_favorites' slug=release.slug%}" class="single-item__add">
                             <svg style="width: 25px; height: 25px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,11H13V5a1,1,0,0,0-2,0v6H5a1,1,0,0,0,0,2h6v6a1,1,0,0,0,2,0V13h6a1,1,0,0,0,0-2Z"/></svg>
                         </a>
                         <p  style="color: #c0c0c0; margin-top: 5px; cursor: default; ">افزودن به لیست علاقه‌مندی ها</p>
                     </div>

                     {% endif %}
                        <div class="comments__title">
                            <h4>نظرات</h4>
                            <span>{{release.len_comments}}</span>
                        </div>

                        <ul class="comments__list">
                            {% for comment in comments_list %}
                            <li class="comments__item">
                                <div class="comments__autor">
                                    <img class="comments__avatar" src="/static/img/avatar.svg" alt="">
                                    {% if comment.related_user.is_staff == False %}
                                    <span class="comments__name">{{comment.related_profile.full_name}}</span>
                                    {% else %}
                                    <span style = "color: #B3FF80; "class="comments__name"><b>{{comment.related_profile.full_name}}</b></span>
                                    {% endif %}
                                    <span class="comments__time">{{comment.get_time}} , {{comment.get_solar_date}}</span>
                                </div>
                                <p class="comments__text">{{comment.content}}</p>
                                <div class="comments__actions">
                                    <div class="comments__rate">

                                    </div>
                                    {% if comment.related_user == user or user.is_staff %}
                                    <a style="color: #ffff ; margin-left: 15px;" href="{% url 'comments:delete_comment' id=comment.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-trash2-fill" viewBox="0 0 16 16">
                                            <path d="M2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671zm9.89-.69C10.966 2.214 9.578 2 8 2c-1.58 0-2.968.215-3.926.534-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466-.18-.14-.498-.307-.975-.466z"/>
                                          </svg>
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <form method = "post" action="{% url 'comments:adding_comment' slug=release.slug %}" class="comments__form">
                        {% csrf_token %}
                            <div class="sign__group">
                                <textarea id="text" name="comment" class="sign__textarea" placeholder="نظر شما . . ."></textarea>
                            </div>
                            <button type="submit" class="sign__btn">ارسال</button>
                        </form>
                    </div>
                    <!-- end comments -->
                </div>
            </div>
            </div>	
        </div>
    </div>
</main>
{% endblock %}